{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    سبد خرید
{% endblock title %}

{% block content %}
    <div class="text-3xl m-4">
        جزئییات سبد خرید
    </div>
    <div class="m-8">
        <ul class="steps steps-vertical lg:steps-horizontal w-full  ">
            <li class="step step-primary">ورود</li>
            <li class="step step-primary">انتخاب کتاب ها</li>
            <li class="step">تایید</li>
            <li class="step">انتخاب روش پرداخت</li>
            <li class="step">تایید نهایی</li>
            <li class="step">دریافت کالا ها</li>
        </ul>
    </div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>تصویر</th>
                <th>عنوان</th>
                <th>قیمت</th>
                <th>تعداد</th>
                <th>قیمت کل</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img class="h-12 w-8" src="{% if product.cover_image %} {{ product.cover_image.url }} {% endif %}">
                            </a>
                        </td>
                        <td>{{ product.title }}</td>
                        <td>{{ product.price|floatformat:"0g" }} تومان</td>
                        <td>
                            {{ item.quantity }}
                            <form method="post" action="{% url 'shop:cart_update' product.id %}">
                                {% csrf_token %}
                                {% crispy form %}
                                <!-- <label for="quantity">Quantity:</label>
                                <input type="number" id="quantity" name="quantity" value="1" min="1" max="100" class="input">
                                <input type="hidden" value="{{ product.id }}" name="product" id="id_product">
                                <button type="submit" class="btn btn-primary btn-outline btn-xs">
                                    بروزرسانی تعداد
                                </button> -->
                            </form>
                        </td>
                        <td>{{ item.total_price|floatformat:"0g" }} تومان</td>
                        <td>
                            <form action="{% url 'shop:cart_remove' product.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-error btn-xs" value="حذف">
                            </form>
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr>
                <td>مجموع</td>
                <td colspan="4"></td>
                <td>{{ cart.get_total_price|floatformat:"0g" }} تومان</td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="{% url 'shop:browse_books' %}" class="btn btn-sm">ادامه خرید</a>
        <a href="{% url 'shop:checkout' %}" class="btn btn-secondary btn-xs">اتمام خرید</a>
    </div>
    <div>
        <form action="{% url 'shop:cart_clear' %}" method="post" onsubmit="return confirm('آیا از حذف سبد فعلی اطمینان دارید؟')">
            {% csrf_token %}
            <button class="btn btn-xs btn-outline btn-neutral m-4">حذف سبد</button>
        </form>
    </div>

    <div>
        <div class="text-2xl">
            تعداد آیتم ها: {{ count }}
        </div>
        <div class="text-2xl">
            تعداد کل آیتم ها: {{ total }}
        </div>
    </div>

{% endblock content %}