{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    سبد خرید
{% endblock title %}

{% block content %}
    <h1>
        سبد خرید
    </h1>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>تصویر</th>
                <th>عنوان</th>
                <th>قیمت</th>
                <th>تعداد</th>
                <th>قیمت کل</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img class="h-12 w-8" src="{% if product.cover_image %} {{ product.cover_image.url }} {% endif %}">
                            </a>
                        </td>
                        <td>{{ product.title }}</td>
                        <td>{{ product.price }}</td>
                        <td>
                            {{ item.quantity }}
                            <form method="post" action="{% url 'shop:cart_update' product.id %}">
                                {% csrf_token %}
                                {% crispy form %}
                                <!-- <label for="quantity">Quantity:</label>
                                <input type="number" id="quantity" name="quantity" value="1" min="1" max="100" class="input">
                                <input type="hidden" value="{{ product.id }}" name="product" id="id_product">
                                <button type="submit" class="btn btn-primary btn-outline btn-xs">
                                    بروزرسانی تعداد
                                </button> -->
                            </form>
                        </td>
                        <td>{{ item.total_price }}</td>
                        <td>
                            <form action="{% url 'shop:cart_remove' product.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-error btn-xs" value="حذف">
                            </form>
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr>
                <td>مجموع</td>
                <td colspan="4"></td>
                <td>{{ cart.get_total_price }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="{% url 'shop:customers_browse' %}" class="btn btn-sm">ادامه خرید</a>
        <a href="{% url 'shop:checkout' %}" class="btn btn-secondary btn-xs">اتمام خرید</a>
    </div>
    <div>
        <form action="{% url 'shop:cart_clear' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-xs btn-outline btn-neutral m-4">Clear</button>
        </form>
    </div>
{% endblock content %}