{% extends "_base.html" %}

{% block content %}
    <h4 class="underline decoration-sky-500">
        صفحه اصلی
    </h4>
    {% if user.is_authenticated %}

        <p>
            <form action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline btn-error btn-xs w-24 m-4">
                    خروج
                </button>
            </form>
        </p>

        <p>
            <a href="{% url 'accounts:acc_prtd_page' %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">GO TO SECURE PAGE</a>
        </p>

        <p>
            <a href="{% url 'admin:index' %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">ورود به پنل مدیریت</a>
        </p>

        {% if user.role == "employee" %}
            <p>
                <a href="{% url 'shop:books_list' %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                    لیست کتاب ها
                </a>
            </p>
            <p>
                <a href="{% url 'shop:employee' %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                    dashboard
                </a>
            </p>
        {% endif %}

        {% if user.role == "user" %}
            <p>
                <a href="{% url 'shop:browse_books' %}">
                    لیست محصولات
                </a>
            </p>
            <div>
                <a href="{% url 'accounts:acc_profile' %}">حساب کاربری</a>
            </div>
        {% endif %}

    {% else %}

        <p>
            <a href="{% url 'accounts:signup' %}">ثبت نام</a>
        </p>

        <p>
            <a href="{% url 'accounts:login' %}">ورود</a>
        </p>

        <p>
            <a href="{% url 'accounts:acc_prtd_page' %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">GO TO SECURE PAGE</a>
        </p>
    {% endif %}
{% endblock content %}