{% extends "_base.html" %}
{% load static %}

{% block content %}
    <div>
        <div>
            <span>تعداد کل نظرات: {{ total }}</span>
        </div>

        <div hx-boost="true">
            <span>تعداد نظرات در انتظار بررسی {{ total_waiting }}</span>
            <a class="link"
                href="{% url 'shop:shop_comments_comments_list' 'pending' %}"
                hx-get="{% url 'shop:shop_comments_load_comments' 'pending' %}"
                hx-target="#comments"
                hx-trigger="click"
                hx-swap="innerHTML"
                >
                لیست
            </a>
        </div>

        <div hx-boost="true">
            <span>تعداد نظرات تایید شده {{ total_approved }}</span>
            <a class="link"
                href="{% url 'shop:shop_comments_comments_list' 'approved' %}"
                hx-get="{% url 'shop:shop_comments_load_comments' 'approved' %}"
                hx-target="#comments"
                hx-trigger="click"
                hx-swap="innerHTML"
                >
                لیست
            </a>
        </div>

        <div hx-boost="true">
            <span>تعداد نظرات رد شده {{ total_rejected }}</span>
            <a class="link"
                href="{% url 'shop:shop_comments_comments_list' 'rejected' %}"
                hx-get="{% url 'shop:shop_comments_load_comments' 'rejected' %}"
                hx-target="#comments"
                hx-trigger="click"
                hx-swap="innerHTML"
                >
                لیست
            </a>
        </div>

        <div id="comments">

        </div>

        <a href="{% url 'shop:shop_comments_comments_index' %}" class="btn btn-outline btn-info btn-xs">
            Refresh
        </a>
    </div>
{% endblock content %}