<nav class="flex flex-row justify-between items-center px-4 py-2 bg-gray-800 text-white rounded-sm m-4">
    <div>
      <!-- right -->
      <ul class="flex space-x-4">
        <li><a href="{% url 'home:index' %}" class="btn btn-ghost text-white hover:text-black-400">خانه</a></li>
        <li><a href="{% url 'shop:browse_books' %}" class="btn btn-ghost text-white hover:text-black-400">فروشگاه</a></li>
      </ul>
    </div>
    <div>
      <!-- left -->
      <ul class="flex space-x-4 items-center">
        <li>
          {% if user.role == "admin" %}
            <a href="{% url 'admin:index' %}">Panel</a>
          {% elif user.role == 'user' %}
          <a class="btn btn-sm" href="{% url 'shop:cart_details' %}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>            
            <div
                id="cart_count_badge"
                class="badge badge-sm"
                hx-get="{% url 'shop:cart_count' %}"
                hx-trigger="load"
                hx-target="this"
                hx-swap="innerHTML"
              >
            </div>
          </a>
          {% elif user.role == "employee" %}
            <a class="btn btn-ghost text-white hover:text-black-400" href="{% url 'shop:employee' %}">پنل</a>
          {% else %}
            <a class="btn btn-ghost text-white hover:text-black-400" href="{% url 'accounts:acc_auth_login' %}">ورود</a>
          {% endif %}
        </li>
        <li><a href="{% url 'accounts:acc_prf_profile' %}" class="btn btn-ghost text-white hover:text-black-400">حساب کاربری</a></li>
      </ul>
    </div>
</nav>