{% extends "_base.html" %}


{% block content %}
    <h2>Checkout</h2>
    <ul>
        {% if items %}
            {% for item in items %}
                <li>{{ item.title }} - {{ item.price }}</li>
            {% endfor %}
            <div>
                <form action="{% url 'shop:checkout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline btn-primary btn-xs">
                        ثبت
                    </button>
                </form>
            </div>
            <h3>Total: {{ total_price }}</h3>
        {% endif %}
    </ul>

    {% if order %}
        <div>
            <h3>Order Placed - Pending payment</h3>
        </div>
    {% endif %}
    {% if payment %}
        <div>
            <h3>Payment object successfully created.</h3>
        </div>
    {% endif %}
{% endblock content %}