{% extends "_base.html" %}

{% block content %}
{% include 'shop/orders/modals/change_order_status_modal.html' %}
<table class="table table-xs">
    <thead>
        <tr>
            <th>#</th>
            <th>شناسه</th>
            <th>شماره</th>
            <th>وضعیت</th>
            <th>مشتری</th>
            <th>تاریخ</th>
            <th>عملکردها</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <th>{{ forloop.counter }}</th>    
            <td>{{ item.pk }}</td>
            <td>{{ item.order_number }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.customer }}</td>
            <td>{{ item.created_at }}</td>
            <td>
                <a href="#" class="mr-1 ml-1 btn btn-xs btn-outline btn-neutral">جزئییات</a>
                <button class="mr-1 ml-1 btn btn-xs btn-outline btn-warn" onclick="order_details_modals.showModal()"
                    hx-get="{% url 'shop:load_order_details' item.pk %}"
                    hx-target="#order_details_response_holder"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                    >تغییر وضعیت
                </button>
                <button class="mr-1 ml-1 btn btn-xs btn-outline btn-error"
                    hx-post="{% url 'shop:delete_order_record' item.pk %}"
                    hx-target="closest tr"
                    hx-swap="delete"
                    hx-trigger="click"
                    hx-confirm="Are you sure?"
                    >حذف رکورد
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    <span>total: {{ total }}</span>
</div>

{% endblock content %}