{% extends "_base.html" %}


{% block content %}
    <div>
        {% if item %}
            <div class="flex flex-col">
                <div>
                    {{ item.order_number }}
                </div>
                <div>
                    {% if item.status == "Pending Payment" %}
                        <div>
                            <div>
                                پرداخت نهایی سفارش شماره: {{ item.order_number }}
                                به مبلغ کل {{ item.order_items_id.total_price }}
                            </div>
                            <form action="{% url 'shop:fake_payment' item.order_number %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline btn-primary btn-xs w-32">
                                    پرداخت نهایی
                                </button>
                            </form>
                        </div>
                    {% elif item.status == "Confirmed" %}
                        <div>
                            pass
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}