{% extends "_base.html" %}

{% block content %}
    <div class="m-8">
        <ul class="steps steps-vertical lg:steps-horizontal w-full  ">
            <li class="step step-primary">ورود</li>
            <li class="step step-primary">انتخاب کتاب ها</li>
            <li class="step step-primary">تایید</li>
            <li class="step step-primary">انتخاب روش پرداخت</li>
            <li class="step">تایید نهایی</li>
            <li class="step">دریافت کالا ها</li>
        </ul>
    </div>
    <div class="text-2xl">
        انتخاب روش پرداخت
    </div>
    
    <div class="mt-12 pt-12">
        <div class="flex w-full flex-col lg:flex-row">
            <div class="card bg-base-300 rounded-box grid h-48 grow place-items-center justify-center">
                <div class="card w-96 bg-base-100 card-sm shadow-sm">
                    <div class="card-body">
                      <h2 class="card-title">درگاه بانکی</h2>
                      <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
                      <div class="justify-end card-actions">
                        <button class="btn btn-primary">Buy Now</button>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="divider lg:divider-horizontal">یا</div>
            <div class="card bg-base-300 rounded-box grid h-48 grow place-items-center justify-center">
                <div class="card w-96 bg-base-100 card-sm shadow-sm">
                    <div class="card-body">
                      <h2 class="card-title">نقدی</h2>
                      <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
                      <div class="justify-end card-actions">
                        <button class="btn btn-primary">Buy Now</button>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
    </div>
{% endblock content %}