{% extends "_base.html" %}

{% block content %}
    <div class="m-8">
        <ul class="steps steps-vertical lg:steps-horizontal w-full  ">
            <li class="step step-primary">ورود</li>
            <li class="step step-primary">انتخاب کتاب ها</li>
            <li class="step step-primary">تایید</li>
            <li class="step step-primary">انتخاب روش پرداخت</li>
            <li class="step">تایید نهایی</li>
            <li class="step">دریافت کالا ها</li>
        </ul>
    </div>
    <h1>انتخاب روش پرداخت</h1>
{% endblock content %}