{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="flex flex-row-reverse grid grid-cols-2">
        <div class="col-span-1">
            {% if item.cover_image %}
                <img src="{{ item.cover_image.url }}" alt="Cover image for {{ item.title }}">
            {% else %}
                [NO_COVER]
            {% endif %}
        </div>
        <div class="col-span-1">
            {% if item %}
                {{ item.title }}
                {% for i in item.authors.all %}
                    {% if i.fa_name %}
                        {{ i.fa_name }},
                    {% else %}
                        {{ i.en_name }},
                    {% endif %}
                {% endfor %}
                {{ item.publisher }}
            {% endif %}

            <div>
                ژانر
                {% for i in item.genres.all %}
                    {{ i.title }},
                {% endfor %}
            </div>

            <div id="favorite_response_holder">
                {% if user.is_authenticated %}
                    <div
                        hx-trigger="load"
                        hx-target="this"
                        hx-get="{% url 'shop:is_book_favorite' %}"
                        hx-swap="innerHTML"
                        hx-vals='{"book_id": "{{ item.id }}"}'
                    >
                    </div>
                {% endif %}
            </div>

            {% if item_form and item.available %}
                <form action="{% url 'shop:cart_add' item.id %}" method="post">
                    {{ item_form|crispy }}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-xs" value="افزودن">
                </form>
            {% else %}
                <h2 class="text">
                    این کتاب در حال حاظر موجود نیست.
                </h2>
            {% endif %}
            <div id="add_comment_section">
                {% if comment_form %}
                    <form 
                            hx-post="{% url 'shop:add_comment' %}"
                            hx-target="#comments_section"
                            hx-swap="innerHTML"
                        >
                        <label for="comment_body_id" class="text">متن نظر</label>
                        {{ comment_form.body }}
                        <input type="hidden" name="book_id" value="{{ item.id }}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success btn-xs" value="ثبت نظر">
                    </form>
                {% endif %}
            </div>
            <div id="comments_section">
                {% include "shop/customers/partials/book_item_comments.html" %}
            </div>
        </div>
    </div>
{% endblock content %}