{% if items %}
  <!-- comments were requested separately by htmx (reload comments button)-->
    {% for comment in items %}
        <div class="max-w-md mx-auto bg-white shadow-md rounded-md p-2">
            <div class="flex items-center space-x-4 mb-4">
              <div>
                  {% if comment.anonymous %}
                    <h3 class="text-md font-semibold text-gray-900">ناشناس</h3>
                  {% else %}
                    <h3 class="text-md font-semibold text-gray-900">{{ comment.user.first_name }}</h3>
                  {% endif %}
                <time class="text-sm text-gray-500">{{ comment.created_at }}</time>
              </div>
            </div>
            <div class="text-gray-700">
              {{ comment.body }}
            </div>
            <div>
              <span>{{ comment.positive_vote }} - {{ comment.negative_vote }}</span>
            </div>
          </div>
      {% empty %}
        <p>هنوز نظری برای این کالا ثبت نشده است.</p>
    {% endfor %}
{% else %}
    <div>
      <span>هنوز نظری برای این کالا ثبت نشده است.</span>
    </div>
{% endif %}