<section class="w-2/3 grid grid-cols-1 gap-6" id="books_list">

    {% for item in items %}
      <article class="bg-white p-4 rounded shadow flex gap-4">
          {% if item.cover_image %}
          <img src="{{ item.cover_image.url }}" alt="Cover image for {{ item.title }}" class="w-24 object-contain flex-shrink-0 rounded">
          {% else %}
              [NO_COVER]
          {% endif %}
        <div>
          <h3 class="text-blue-700 font-semibold text-lg mb-1">
            <a href="{% url 'shop:item_detail' item.id %}">{{ item.title }}</a>
          </h3>
          <p class="font-bold text-indigo-600">
            {% if item.available %}
              <span id="item_price">{{ item.price }} تومان</span>
            {% else %}
              <span class="text-red-600">موجود نیست</span>
            {% endif %}
          </p>
          <div>
            <p>
              {% if item.summary %}
                <span>
                  خلاصه: {{ item.summary }}
                </span>
              {% endif %}
            </p>
          </div>
          <p>
            <a href="{% url 'shop:item_detail' item.id %}">
              جزئیات
            </a>
          </p>
          {% if item.available %}
          <p>
            <div id="quick_add_response_holder">
              <button class="btn btn-success btn-outline btn-sm m-4"
                hx-post="{% url 'shop:cart_add' item.id %}"
                hx-target="this"
                hx-swap="outerHTML"
                hx-on:quick_add_success="update_cart();">
                افزودن سریع
              </button>
            </div>
          </p>
          {% endif %}
        </div>
      </article>
    {% endfor %}
    <span id="spinner" class="loading loading-dots loading-xl text-success htmx-indicator"></span>
  </section>
<script>
  function update_cart() {
    $.ajax({
      url: '{% url "shop:cart_count" %}',
      type: 'GET',
      success: function(data) {
        console.log('cart count update requested');
        $('#cart_count_badge').html(data);
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(thrownError);
      }
    })
  }
</script>