{% for comment in item.comments.all %}
    <div class="max-w-md mx-auto bg-white shadow-md rounded-lg p-6">
        <div class="flex items-center space-x-4 mb-4">
          <div>
              {% if comment.anonymous %}
                <h3 class="text-lg font-semibold text-gray-900">ناشناس</h3>
              {% else %}
                <h3 class="text-lg font-semibold text-gray-900">{{ comment.user.first_name }}</h3>
              {% endif %}
            <time class="text-sm text-gray-500">{{ comment.created_at }}</time>
          </div>
        </div>
        <p class="text-gray-700">
          {{ comment.body }}
        </p>
      </div>
{% empty %}
    <p>هنوز نظری برای این کالا ثبت نشده است.</p>
{% endfor %}
