{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="flex flex-row-reverse grid grid-cols-2">
        <div class="col-span-1">
            {% if item.cover_image %}
                <img src="{{ item.cover_image.url }}" alt="Cover image for {{ item.title }}">
            {% else %}
                [NO_COVER]
            {% endif %}
        </div>
        <div class="col-span-1">
            {% if item %}
                <div>
                    {{ item.title }}
                </div>
                <div>
                    {% if item.copies_available %}
                        <div>
                            {{ item.copies_available }} 
                        </div>
                    {% else %}
                        <div>
                            <span class="text-red-600 text-sm">موجود نیست</span>
                        </div>
                    {% endif %}
                </div>
                {% for i in item.authors.all %}
                    {% if i.fa_name %}
                        {{ i.fa_name }},
                    {% else %}
                        {{ i.en_name }},
                    {% endif %}
                {% endfor %}
                {{ item.publisher }}
            {% endif %}

            <div>
                ژانر
                {% for i in item.genres.all %}
                    {{ i.title }},
                {% endfor %}
            </div>

            <div id="favorite_response_holder">
                {% if user.is_authenticated %}
                    <div
                        hx-get="{% url 'shop:is_book_favorite' item.id %}"
                        hx-trigger="load"
                        hx-target="this"
                        hx-swap="innerHTML"
                    >
                    </div>
                {% endif %}
            </div>

            {% if item_form and item.available and item.copies_available > 0 %}
                <form action="{% url 'shop:cart_add' item.id %}" method="post">
                    {{ item_form|crispy }}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-xs" value="افزودن">
                </form>
            {% else %}
                <div class="mt-2">
                    <span class="text-red-600 text-sm">موجود نیست</span>
                </div>
            {% endif %}
            <div>
                <!-- name of each tab group should be unique -->
                <div class="tabs tabs-lift">
                    <input type="radio" name="my_tabs_3" class="tab" aria-label="ثبت نظر" checked="checked" />
                    <div class="tab-content bg-base-100 border-base-300 p-6">
                        <div id="add_comment_section">
                            {% if comment_form %}
                                <form
                                    id="comment_form"
                                    hx-post="{% url 'shop:add_comment' item.id %}"
                                    hx-target="#add_comment_section"
                                    hx-swap="innerHTML">
                                    <div class="flex flex-col m-2">
                                        <label for="comment_title_id" class="text">عنوان متن</label>
                                        {{ comment_form.title }}
                                        <label for="comment_body_id" class="text">متن نظر</label>
                                        {{ comment_form.body }}
                                        <label for="comment_anonymous_id" class="text">ناشناس ثبت شود؟</label>
                                        {{ comment_form.anonymous }}
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-success btn-xs" value="ثبت نظر">
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                
                    <input type="radio" name="my_tabs_3" class="tab" aria-label="نظرات"
                        hx-get="{% url 'shop:load_book_comments' item.id %}"
                        hx-target="#comments_section"
                        hx-swap="innerHTML"
                        hx-trigger="click"
                    />
                    <div class="tab-content bg-base-100 border-base-300 p-6">
                        <button class="btn btn-outline btn-accent btn-xs"
                            hx-get="{% url 'shop:load_book_comments' item.id %}"
                            hx-target="#comments_section"
                            hx-swap="innerHTML"
                            hx-trigger="click"
                            >
                            بروزرسانی نظرات
                        </button>
                        <div id="comments_section">
                            {% include "shop/customers/partials/book_item_comments.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        function clean_comment_form() {
            document.getElementById('comment_form').reset();
        }

        document.body.addEventListener('htmx:responseError', function(evt) {
            // this can also be done as follows:
            // hx-on="htmx:responseError: this.innerHTML = event.detail.xhr.responseText" (ACTUALLY this did not work for me)
            if (evt.detail.xhr.status === 403) {
                $("#add_comment_section").replaceWith(evt.detail.xhr.responseText);
            }
        });
    </script>
{% endblock script %}