{% load static %}
<div class="container mx-auto p-6">

    <div class="mb-6 w-full max-w-xl p-4 rounded shadow">
      <form class="flex gap-6 items-center">
        {% csrf_token %}
        <label class="input input-accent flex gap-6 items-center" for="search">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2.5"
              fill="none"
              stroke="currentColor"
            >
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </g>
          </svg>
          <input name="search" id="search" type="search" placeholder="جستجو عنوان..." />
        </label>
        <button class="btn btn-info btn-sm btn-outline w-20"
            hx-get="{% url 'shop:search' %}"
            hx-target="#books_list"
            hx-swap="outerHTML"
            hx-indicator="#spinner">
          جستجو
        </button>
      </form>
    </div>

    <div class="flex flex-row-reverse gap-6" dir="rtl">

      {% include "shop/customers/partials/filters.html" %}

      {% include "shop/customers/partials/books-container-section.html" %}

    </div>
</div>