<aside class="w-1/3 bg-white p-4 rounded shadow">
    <h2 class="text-lg font-semibold mb-4">فیلتر ها</h2>
    <div class="mb-4">
      <label class="block mb-1 font-medium">دسته بندی</label>
      <select class="select select-accent border border-gray-300 rounded p-2">
        <option>کل موضوعات</option>
        {% for i in genres %}
          <option>{{ i.title }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-4">
      <label class="block mb-1 font-medium">قیمت</label>
      <input type="range" min="0" max="100" class="w-full" />
    </div>
    <div class="mb-4">
      <label for="filter_only_available">فقط موجود</label>
      <input type="hidden" name="status" value="off">
      <input 
        hx-trigger="change"
        hx-get="{% url 'shop:only_available' %}"
        hx-target="#books_list"
        hx-swap="outerHTML"
        type="checkbox"
        class="toggle toggle-accent" 
        id="filter_only_available"
        value="on"
        name="status"
        />
    </div>
    <button class="w-full bg-indigo-600 text-white py-2 rounded hover:bg-indigo-700 transition">اعمال فیلتر ها</button>
</aside>