<div class="flex items-center justify-center mt-4">
    <button id="decrement-btn" class="flex h-6 w-6 items-center justify-center rounded-full text-black hover:bg-gray-200 focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
    </button>
    <span id="counter" class="text-md mx-4 font-bold">1</span>
    <button id="increment-btn" class="flex h-6 w-6 items-center justify-center rounded-full text-black hover:bg-gray-200 focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
    </button>
</div>  

<script>
    // var counterEl = document.getElementById('counter');
    // var decrementBtn = document.getElementById('decrement-btn');
    // var incrementBtn = document.getElementById('increment-btn');
    // let count = 1;

    // decrementBtn.addEventListener('click', () => {
    //     if (count > 1) {
    //         count--;
    //         counterEl.textContent = count;
    //     }
    // });

    // incrementBtn.addEventListener('click', () => {
    //     count++;
    //     counterEl.textContent = count;
    // });
</script>