{% extends "_base.html" %}


{% block content %}

{% for item in approved_items %}
<div id="list_item">
  <ul class="list bg-base-100 rounded-box space-y-6 shadow-md m-2 p-4">
    <li class="card card-compact bg-base-200 shadow">
      <div class="card-body">
        <div class="flex justify-between">
          <div>
            <h2 class="card-title">{{ item.title }}</h2>
            <p>{{ item.body }}</p>
            <h6>{{ item.user }}</h6>
          </div>
          <div class="flex flex-col">
            <a class="btn btn-sm btn-ghost" href="{% url 'accounts:edit_comment' item.pk %}">
              ویرایش
            </a>
            <a class="btn btn-sm btn-ghost">
                حذف
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endfor %}
<a href="{% url 'accounts:profile' %}" class="btn btn-neutral btn-xs btn-outline w-32">بازگشت به پروفایل</a>

{% endblock content %}