{% extends "_base.html" %}

{% block content %}
<div>
    {% if items %}
        <div>
            <div class="rounded-box shadow-md border-base-300 bg-base-100 block w-full overflow-x-auto m-6">
                <table class="items-center w-full bg-transparent border-collapse">
                    <thead>
                        <tr>
                            <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold whitespace-normal">
                                #
                            </th>
                            <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold whitespace-normal">
                                شماره سفارش
                            </th>
                            <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold whitespace-normal">
                                مبلغ نهایی
                            </th>
                            <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold whitespace-normal">
                                وضعیت
                            </th>
                            <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold whitespace-normal">
                                تاریخ
                            </th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-100">
                        {% for item in items %}
                            <tr class="text-gray-500">
                                <th class="px-4 text-gray-800 align-middle py-2 text-sm font-bold whitespace-normal">
                                    {{ forloop.counter }}
                                </th>
                                <td class="items-center text-gray-800 align-middle py-2 text-sm whitespace-normal">
                                    {{ item.order_number }}
                                </td>
                                <td class="items-center text-gray-800 align-middle py-2 text-sm whitespace-normal">
                                    {{ item.total_price }} تومان
                                </td>
                                <td class="items-center text-gray-800 align-middle py-2 text-sm whitespace-normal">
                                    <div class="flex items-center">
                                        <span class="mr-2 text-xs font-medium">30%</span>
                                        <div class="relative w-full">
                                            <div class="w-full bg-gray-200 rounded-sm h-2">
                                                <div class="bg-cyan-600 h-2 rounded-sm" style="width: 30%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="items-center text-gray-800 align-middle py-2 text-sm whitespace-normal">
                                    {{ item.created_at }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div>
            <span>سفارشی وجود ندارد.</span>
        </div>
    {% endif %}
</div>
{% endblock content %}