{% extends "_base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

{% if form.errors %}
    {% for error in form.errors %}
        <p>
            ERROR: {{ error }}
        </p>
    {% endfor %}
{% endif %}

<div id="new_form_response_holder">
    <form class="max-w-md mx-auto">
        {% csrf_token %}
    
        {{ form.as_p }}
    
        <table style="display: none">
            {{ view.formset.empty_form }}
        </table>
    
        <table>
            {{ view.formset }}
        </table>

        <button type="submit" class="btn btn-success w-48 btn-sm m-4"
            hx-post="{% url 'shop:add-book' %}"
            hx-target="#new_form_response_holder"
            hx-swap="innerHTML">ثبت
        </button>
    
        <a href="{% url 'shop:books-list' %}" class="btn btn-error w-48 btn-sm m-4">
            لغو
        </a>
    
    </form>
</div>

{{ form.media }}

    <script>
        (function($) {
            $('#add-form').click(function() {
                var index = $('#id_inline_test_models-TOTAL_FORMS').val()
                var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
                newTable.find(':input').each(function() {
                    for (attr of ['name', 'id'])
                        $(this).attr(
                            attr,
                            $(this).attr(attr).replace('__prefix__', index)
                        )
                })
                newTable.insertBefore($(this))
                $('#id_inline_test_models-TOTAL_FORMS').val(
                    parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
                )
                newTable.slideDown()
            })
        })($)
    </script>
{% endblock content %}