{% extends "_base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
{% if form %}
    <form>
        {% csrf_token %}

        {% for field in form %}
            {% if field.field.widget.input_type == 'text' %}
                <div class="m-4">
                    {{ field.label }}
                    {{ field|add_class:"input" }}
                </div>
            {% elif field.field.widget.input_type == 'select' %}
                <div class="m-4">
                    {{ field.label }}
                    {{ field|add_class:"select" }}
                </div>
            {% elif field.field.widget.input_type == 'number' %}
                <div class="m-4">
                    {{ field.label }}
                    {{ field|add_class:"input" }}
                </div>
            {% elif field.field.widget.input_type == 'checkbox' %}
                <div class="m-4">
                    {{ field.label }}
                    {{ field|add_class:"checkbox" }}
                </div>
            {% elif field.field.widget.input_type == 'file' %}
                <div class="m-4">
                    {{ field.label }}
                    {{ field|add_class:"file-input" }}
                </div>
            {% else %}
                <p class="text-red-500">
                    {{ field.field.widget.input_type }}
                </p>
            {% endif %}
        {% endfor %}

        <div>
            <button class="btn btn-primary btn-xs w-24">تبت</button>
        </div>
    </form>
{% endif %}
{% endblock content %}


{% block script %}
    <script>
        $("#id_authors").select2();
        $("#id_genres").select2();
    </script>
{% endblock script %}