{% extends "_base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
{% if form %}
    <form>
        {% csrf_token %}

        {% for field in form %}
            {% if field.field.widget.input_type == 'text' %}
                <div class="m-4">
                    {{ field.label }}
                    {{ field|add_class:"input" }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% elif field.field.widget.input_type == 'select' %}
                <div class="m-4">
                    {{ field.label }}
                    {{ field|add_class:"select" }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% elif field.field.widget.input_type == 'number' %}
                <div class="m-4">
                    {{ field.label }}
                    {{ field|add_class:"input" }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% elif field.field.widget.input_type == 'checkbox' %}
                <div class="m-4">
                    {{ field.label }}
                    {{ field|add_class:"checkbox" }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% elif field.field.widget.input_type == 'file' %}
                <div class="m-4">
                    {{ field.label }}
                    {{ field|add_class:"file-input" }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="m-4">
            <label for="id_description">توضیحات</label>
            {{ form.description|add_class:"textarea" }}
            {% if form.description.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% if form.description.errors %}
                <div class="alert alert-danger">
                    {% for error in form.description.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="m-4">
            <label for="id_summary">خلاصه</label>
            {{ form.summary|add_class:"textarea" }}
            {% if form.summary.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% if form.summary.errors %}
                <div class="alert alert-danger">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div>
            <button class="btn btn-primary btn-xs w-24">تبت</button>
        </div>
    </form>
{% endif %}
{% endblock content %}


{% block script %}
    <script>
        $("#id_authors").select2();
        $("#id_genres").select2();
        $("#id_tags").select2();
        $("#id_keywords").select2();
        $("#id_translators").select2();
        $("#id_illustrators").select2();
    </script>
{% endblock script %}