{% extends "_base.html" %}
{% load humanize %}
{% load static %}

{% block content %}
    لیست کتاب ها
    <p>
        <a href="{% url 'shop:add_book' %}" class="hover:underline btn btn-info btn-xs">افزودن +</a>
    </p>

    <div id="books_list_container">
      {% include "shop/books/partials/books-list-container.html" %}
    </div>
{% endblock content %}

{% block script %}
      <script>
        $('#id_genres').select2();
        $('#myBtn').click(function() {
          // Open your modal here (if done via JS)
            console.log("modal triggered");
          // Initialize select2 after modal visible
          $("#id_authors").select2(); // This does not work
        });
      </script>
{% endblock script %}