{% extends "_base.html" %}
{% load humanize %}

{% block content %}
    لیست کتاب ها
    <p>
        <a href="{% url 'shop:add-book' %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">افزودن +</a>
    </p>

    <p>
        <a href="{% url 'shop:add-book-test' %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">افزودن تست+</a>
    </p>

    <div class="overflow-x-auto">
        <table class="table table-xs">
          <thead>
            <tr>
              <th>#</th>
              <th>عنوان</th>
              <th>نویسنده</th>
              <th>انتشارات</th>
              <th>ژانر</th>
              <th>زبان</th>
              <th>زبان اصلی</th>
              <th>چاپ</th>
              <th>تعداد صفحه</th>
              <th>تاریخ انتشار</th>
              <th>فرمت چاپ</th>
              <th>ISBN</th>
              <th>مترجم</th>
              <th>امتیاز</th>
              <th>موجود</th>
              <th>قیمت</th>
            </tr>
          </thead>
          <tbody>
            {% for book in books %}
            <tr>
              <th>{{ forloop.counter }}</th>
              <td>{{ book.title }}</td>
              <td>
                {% for i in book.authors.all %}
                    [{{ i.name }}]
                {% endfor %}
              </td>
              <td>{{ book.publisher }}</td>
              <td>
                {% for i in book.genres.all %}
                  [{{ i.title }}]
                {% endfor %}
              </td>
              <td>{{ book.language }}</td>
              <td>{{ book.original_language }}</td>
              <td>{{ book.edition }}</td>
              <td>{{ book.page_count }}</td>
              <td>{{ book.pub_date }}</td>
              <td>{{ book.format }}</td>
              <td>{{ book.ISBN }}</td>
              <td>{{ book.translator }}</td>
              <td>{{ book.rating }}</td>
              <td>
                {% if book.available %}
                  <span>&#10003;</span>
                {% else %}
                  <span>&#10007;</span>
                {% endif %}
              </td>
              <td>
                {% if book.available %}
                  {{ book.price|intcomma }} تومان
                {% else %}
                  -
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            
          </tfoot>
        </table>
      </div>

{% endblock content %}