{% extends "_base.html" %}

{% block content %}

    <p>
        شناسه کتاب را وارد کنید.
    </p>

    <p class="btn btn-primary btn-xs">
        <a href="{% url 'shop:edit-request' %}">
            Refresh
        </a>
    </p>

    <form id="edit_form" hx-post="{% url 'shop:edit-request' %}" hx-target="#response_holder" hx-swap="innerHTML">
        {% csrf_token %}
        شناسه:
        <input class="input mt-4" name="input_field_name" id="input_field_id">
        <p>
            <button class="btn btn-primary btn-xs">
                جستجو
            </button>
        </p>

    </form>

    <div id="response_holder">

    </div>

{% endblock content %}

{% block script %}
    <script>
        $("#id_authors").select2();
        $("#id_genres").select2();
        $("#div_id_authors").select2();
    </script>
{% endblock script %}