{% extends "_base.html" %}

{% block content %}

    <p>
        شناسه کتاب را وارد کنید.
    </p>

    <form id="edit_form">
        {% csrf_token %}
        شناسه:
        <input class="input mt-4" id="book_id" type="number" name="book_id">
        <p>
            <button class="btn btn-outline btn-primary mt-4"
                hx-post="{% url 'shop:edit-request' %}" hx-target="#response_holder" hx-swap="innerHTML">
                    جستجو
            </button>
        </p>

    </form>


    <div id="response_holder">

    </div>

{% endblock content %}