{% extends "_base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
    {% if form %}
        <form action="{% url 'shop:edit_book' pk=item_id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form %}
                {% if field.field.widget.input_type == 'text' %}
                    <div class="m-4">
                        {{ field.label }}
                        {{ field|add_class:"input" }}
                    </div>
                {% elif field.field.widget.input_type == 'select' %}
                    <div class="m-4">
                        {{ field.label }}
                        {{ field|add_class:"select" }}
                    </div>
                {% elif field.field.widget.input_type == 'number' %}
                    <div class="m-4">
                        {{ field.label }}
                        {{ field|add_class:"input" }}
                    </div>
                {% elif field.field.widget.input_type == 'checkbox' %}
                    <div class="m-4">
                        {{ field.label }}
                        {{ field|add_class:"checkbox" }}
                    </div>
                {% elif field.field.widget.input_type == 'file' %}
                    <div class="m-4">
                        {{ field.label }}
                        {{ field|add_class:"file-input" }}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="m-4">
                <label for="id_description">توضیحات</label>
                {{ form.description|add_class:"textarea" }}
            </div>
            <div class="m-4">
                <label for="id_summary">خلاصه</label>
                {{ form.summary|add_class:"textarea" }}
            </div>

            <div>
                <button class="btn btn-primary btn-xs w-24 m-4">تبت</button>
                <a class="btn btn-outline btn-error btn-xs w-24 m-4" href="{% url 'shop:books_list' %}">لغو</a>
            </div>
        </form>
    {% endif %}
{% endblock content %}


{% block script %}
    <script>
        $("#id_authors").select2();
        $("#id_genres").select2();
        $("#id_tags").select2();
        $("#id_keywords").select2();
        $("#id_translators").select2();
        $("#id_illustrators").select2();
    </script>
{% endblock script %}