{% load ir_date %}
<div>
    {% if items %}
    <div class="tabs tabs-border">
        <input type="radio" name="sort_newest" class="tab text-red-800" aria-label="جدیدترین"
            hx-get="{% url 'accounts:acc_prf_load_orders_with_status' status %}"
            hx-vals='{"sort": "new"}'
            hx-trigger="click"
            hx-target="#orders_with_status_response_holder"
            hx-swap="innerHTML"
         />
        <input type="radio" name="sort_newest" class="tab text-red-800" aria-label="قدیمی ترین" 
            hx-get="{% url 'accounts:acc_prf_load_orders_with_status' status %}"
            hx-vals='{"sort": "old"}'
            hx-trigger="click"
            hx-target="#orders_with_status_response_holder"
            hx-swap="innerHTML"
        />
    </div>

    <div>
        <span>تعداد آیتم ها: {{ total }}</span>
    </div>

        {% for item in items %}
            <div class="bg-white rounded-lg shadow-sm border border-gray-200 m-4">
                    <!-- Order Summary -->
                    <div class="p-2 cursor-pointer hover:bg-gray-50 transition-colors m-4">
                        <div class="flex flex-col md:flex-row justify-between items-start md:items-center">
                            <div class="mb-2 md:mb-0">
                                <div class="flex items-center space-x-4">
                                    <span class="text-md font-medium text-gray-900">شماره سفارش {{ item.order_number }}</span>
                                    <div class="px-3 py-1 rounded-full text-sm font-medium">
                                        <div class="flex">
                                            {% if item.status == "Pending Payment" %}
                                            <div class="px-4 py-1 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800 flex">
                                                <span class="m-1">در انتظار پرداخت</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                </svg>
                                            </div>
                                            {% elif item.status == "Confirmed" %}
                                            <div class="px-4 py-1 rounded-full text-xs font-medium bg-green-100 text-green-800 flex">
                                                <span class="m-1">تایید شده</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                                                </svg>                                                  
                                            </div>
                                            {% elif item.status == "Processing" %}
                                            <div class="px-4 py-1 rounded-full text-xs font-medium bg-purple-100 text-purple-800 flex">
                                                <span class="m-1">در حال پردازش</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 0 0-3.7-3.7 48.678 48.678 0 0 0-7.324 0 4.006 4.006 0 0 0-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 0 0 3.7 3.7 48.656 48.656 0 0 0 7.324 0 4.006 4.006 0 0 0 3.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3-3 3" />
                                                </svg>                                                  
                                            </div>
                                            {% elif item.status == "Shipped" %}
                                            <div class="px-4 py-1 rounded-full text-xs font-medium bg-blue-100 text-blue-800 flex">
                                                <span class="m-1">ارسال شده</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                                                </svg>
                                            </div>
                                            {% elif item.status == "Cancelled" %}
                                            <div class="px-4 py-1 rounded-full text-xs font-medium bg-red-100 text-red-800 flex">
                                                <span class="m-1">لغو شده</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                </svg>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col">
                                    <p class="text-sm text-gray-500 mt-1">{{ item.created_at|to_persian }} تاریخ</p>
                                    <a href="{% url 'shop:order_details' item.order_number %}" class="btn btn-info btn-xs w-32 mt-4">جزئیات</a>
                                </div>
                            </div>
                            <div class="text-right">
                                <p class="text-lg font-semibold text-gray-900">{{ item.order_items_id.total_price }} مبلغ کل</p>
                                <p class="text-sm text-gray-500">{{ item.order_items_id.items_count }} تعداد آیتم ها</p>
                                <div class="flex flex-col">
                                    {% if item.status == "Pending Payment" %}
                                    <form action="{% url 'shop:fake_payment' item.order_number %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-accent btn-xs w-32 m-2">
                                            پرداخت
                                        </button>
                                    </form>
                                    {% endif %}
                                    <a href="{% url 'shop:cancel_order' item.order_number %}" class="btn btn-warning btn-xs w-32 m-2">لغو</a>
                                    <a href="{% url 'shop:download_invoice' item.order_number %}" class="btn btn-xs w-32 m-2">دریافت رسید</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    {% else %}
        <div class="m-4">
            {% if status == "PENDING" %}
                <div>
                    سفارشی با وضعیت
                    <span class="text-blue-800 font-medium">در انتظار پرداخت</span>
                    وجود ندارد.
                </div>
            {% elif status == "CONFIRM" %}
            <div>
                سفارشی با وضعیت
                <span class="text-blue-800 font-medium">نهایی شده</span>
                وجود ندارد.
            </div>
            {% elif status == "PROCESS" %}
            <div>
                سفارشی با وضعیت
                <span class="text-blue-800 font-medium">در حال پردازش</span>
                وجود ندارد.
            </div>
            {% elif status == "SHIPPED" %}
            <div>
                سفارشی با وضعیت
                <span class="text-blue-800 font-medium">ارسال شده</span>
                وجود ندارد.
            </div>
            {% elif status == "CANCELLED" %}
            <div>
                سفارشی با وضعیت
                <span class="text-blue-800 font-medium">لغو شده</span>
                وجود ندارد.
            </div>
            {% endif %}
        </div>
    {% endif %}
</div>