{% extends "_base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <div>
        <a href="{% url 'accounts:acc_add_address' profile_obj.pk %}" class="btn btn-primary btn-outline btn-xs">
            Reload
        </a>
    </div>
    {% if form %}
        <form method="post" action="{% url 'accounts:acc_add_address' profile_obj.pk %}" class="m-4">
            {% csrf_token %}

            <div class="flex flex-col">
                {{ form.postal_code.label_tag }}
                {{ form.postal_code|add_class:"m-4 p-4 input" }}
                {% if form.errors %}
                    {% for error in form.post_code.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                
                <label for="id_province" class="text-sm font-medium text-gray-700">{{ form.province.label }}</label>
                <select name="province" id="id_province"
                        class="select m-4"
                        hx-get="{% url 'accounts:acc_load_cities' %}"
                        hx-target="#city-select"
                        hx-trigger="change"
                        hx-include="#id_province"
                        >
                    <option value="">Select province</option>
                    {% for province in form.fields.province.queryset %}
                        <option value="{{ province.pk }}">{{ province.name }}</option>
                    {% endfor %}
                </select>
                {% if form.errors %}
                    {% for error in form.province.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                {% endif %}
    
                <label for="id_city" class="text-sm font-medium text-gray-700 mt-4">{{ form.city.label }}</label>
                <div id="city-select">
                    <select name="city" id="id_city" class="select m-4" disabled>
                        <option value="">انتخاب شهر</option>
                    </select>
                </div>
                {% if form.errors %}
                    {% for error in form.city.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                {% endif %}
    
                {{ form.landline.label_tag }}
                {{ form.landline|add_class:"m-4 p-4 input" }}
                {% if form.errors %}
                    {% for error in form.landline.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                {% endif %}
    
                {{ form.address.label_tag }}
                {{ form.address|add_class:"m-4 p-4 textarea" }}
                {% if form.errors %}
                    {% for error in form.address.errors %}
                        <p class="text-red-500">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        
            <button class="btn btn-primary btn-sm m-4 w-24 btn-accent">
                ثبت
            </button>
        </form>
    {% endif %}
{% endblock content %}