{% extends "_base.html" %}


{% block content %}
    <!-- queryset -->
    <div class="grid grid-cols-5 gap-2">
        {% if page_obj %}
            {% for book in page_obj %}
                <div>
                    {% include "shop/customers/book_item.html" %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Pagination -->
    <div class="flex justify-center m-8">
        <span class="step-links">
            <a href="?page=1" class="btn btn-neutral btn-outline btn-xs">
              صفحه اول
            </a>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-circle btn-neutral btn-outline btn-md">
                    <!-- Next page -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061A1.125 1.125 0 0 1 3 16.811V8.69ZM12.75 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061a1.125 1.125 0 0 1-1.683-.977V8.69Z" />
                    </svg>
                </a>
              {% endif %}
              <span class="current">
                صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-circle btn-neutral btn-outline btn-md">
                    <!-- Previous page -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061A1.125 1.125 0 0 1 21 8.689v8.122ZM11.25 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061a1.125 1.125 0 0 1 1.683.977v8.122Z" />
                    </svg>
                </a>
              {% endif %}
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-neutral btn-outline btn-xs">
                صفحه آخر
              </a>
        </span>
      </div>
    </div>
{% endblock content %}