{% extends "_base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}

  <div class="flex">

    <!-- Right -->
        <!-- Filters -->
        <div class="m-2 p-2 basis-1/8 rounded shadow" id="filter_box_container">
          <div class="flex flex-col space-y-4 w-full max-w-md">
              {% if filter %}
                <form id="filter_form" method="get" action="{% url 'shop:browse_books' %}">
                  <div class="mb-2 form-control">
                    {{ filter.form.authors|add_label_class:"label" }}
                    {% render_field filter.form.authors class="select select-sm" %}
                  </div>
                  <div class="mb-2 form-control">
                    {{ filter.form.publisher|add_label_class:"label" }}
                    {% render_field filter.form.publisher class="select select-sm" %}
                  </div>
                  <div class="mb-2 form-control">
                    {{ filter.form.language|add_label_class:"label" }}
                    {% render_field filter.form.language class="select select-sm" %}
                  </div>
                  <div class="mb-2 form-control">
                    {{ filter.form.genres|add_label_class:"label" }}
                    {% render_field filter.form.genres class="select select-sm" %}
                  </div>
                  <div class="mb-2 form-control">
                    {{ filter.form.tags|add_label_class:"label" }}
                    {% render_field filter.form.tags class="select select-sm" %}
                  </div>
                  <div class="filter-actions">
                    <button class="btn btn-outline btn-accent btn-xs w-full m-1" type="submit">
                      اعمال
                    </button>
                    <button class="btn btn-outline btn-neutral btn-xs w-full m-1">
                      جستجوی پیشرفته
                    </button>
                  </div>
                </form>
                <!-- Displaying available items must be done without django-filter, it is terrible at it -->
                <form action="{% url 'shop:browse_books_only_available' %}" method="get">
                  <div class="mb-2 form-control">
                    <label for="id_available">موجودی؟</label>
                    <input type="checkbox" class="checkbox checkbox-accent" id="id_available" name="available">
                    <button class="btn btn-outline btn-accent btn-xs w-28">نمایش</button>
                  </div>
                </form>
                <a href="{% url 'shop:browse_books' %}" class="btn btn-outline btn-warning btn-xs w-full m-1">
                  حذف فیلترها
                </a>
              {% endif %}
          </div>
          <div class="m-2">
            <span>تعداد کتاب ها: {{ total }}</span>
          </div>
        </div>


    <!-- Left -->
    <div class="basis-7/8">
        <!-- Queryset and Pagination -->
                    <!-- queryset -->
          <div class="grid grid-cols-5 gap-x-2">
            {% if page_obj %}
                {% for book in page_obj %}
                    <div>
                        {% include "shop/customers/book_item.html" %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- Pagination -->
        <div class="flex justify-center m-8">
            <span class="step-links">
                <a href="?page=1" class="btn btn-neutral btn-outline btn-xs">
                  صفحه اول
                </a>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-circle btn-neutral btn-outline btn-md">
                        <!-- Next page -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061A1.125 1.125 0 0 1 3 16.811V8.69ZM12.75 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061a1.125 1.125 0 0 1-1.683-.977V8.69Z" />
                        </svg>
                    </a>
                  {% endif %}
                  <span class="current">
                    صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-circle btn-neutral btn-outline btn-md">
                        <!-- Previous page -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061A1.125 1.125 0 0 1 21 8.689v8.122ZM11.25 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061a1.125 1.125 0 0 1 1.683.977v8.122Z" />
                        </svg>
                    </a>
                  {% endif %}
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-neutral btn-outline btn-xs">
                    صفحه آخر
                  </a>
            </span>
          </div>
        </div>
    </div>

  </div>
    
{% endblock content %}

{% block script %}
<script>
  $('#id_authors').select2();
  $('#id_genres').select2();
  $('#id_tags').select2();
</script>
{% endblock script %}