{% extends "_base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    {% if form %}
        <form method="post" action="{% url 'accounts:add_address' %}" class="m-4">
            {% csrf_token %}

            <div class="flex flex-col">
                {{ form.post_code.label_tag }}
                {{ form.post_code|add_class:"m-4 p-4 input" }}
                
                {{ form.province.label_tag }}
                {{ form.province|add_class:"m-4 p-4 select" }}
    
                {{ form.city.label_tag }}
                {{ form.city|add_class:"m-4 p-4 select" }}
    
                {{ form.landline.label_tag }}
                {{ form.landline|add_class:"m-4 p-4 input" }}
    
                {{ form.address.label_tag }}
                {{ form.address|add_class:"m-4 p-4 textarea" }}
            </div>
        
            <button class="btn btn-primary btn-sm m-4 w-24 btn-accent">
                ثبت
            </button>
        </form>
    {% endif %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p> {{ error }} </p>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock content %}


<!-- to loop over fields and add them automatically -->
<!-- {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field|add_class:"p-4 rounded border border-gray-300 mb-4" }}
            {{ field.errors }}
        </div>
{% endfor %} -->