{% extends "_base.html" %}

{% block title %}
    حساب کاربری
{% endblock title %}

{% block content %}
    <h1>
        حساب کاربری
    </h1>

    <div>
        <p>
            آدرس ایمیل شما: {{ user.email }}
        </p>
        <p>
            نوع حساب شما: {{ user.role }}
        </p>
        {% if user.address %}
            <div>
                <p>آدرس شما: {{ user.address }}</p>
            </div>
        {% else %}
            <div>
                <p>آدرسی ثبت نشده است.</p>
                <p>
                    <a href="{% url 'accounts:add_address' %}" class="link link-primary">
                        ثبت آدرس
                    </a>
                </p>
            </div>
        {% endif %}
    </div>
{% endblock content %}