{% extends "_base.html" %}

{% block title %}
    حساب کاربری
{% endblock title %}

{% block content %}
    <h1>
        حساب کاربری
    </h1>

    <div>
        <p>
            آدرس ایمیل شما: {{ user.email }}
        </p>
        <p>
            نوع حساب شما: {{ user.role }}
        </p>
        {% if user.profile.postal_code %}
            <div>
                <p>آدرس شما: {{ user.profile.address }}</p>
                <p>کد پستی شما: {{ user.profile.postal_code }}</p>
            </div>
            <p>
                <a href="{% url 'accounts:add_address' %}" class="link link-primary">
                    ویرایش
                </a>
            </p>
        {% else %}
            <div>
                <p>آدرسی ثبت نشده است.</p>
                <p>
                    <a href="{% url 'accounts:add_address' %}" class="link link-primary">
                        ثبت آدرس
                    </a>
                </p>
            </div>
        {% endif %}

        <div>
            <div>سفارشات</div>
            <div>لیست علاقه مندی ها</div>
            <div>نظرات و امتیاز ها</div>
            <div>آدرس ها</div>
            <div>بازدید ها</div>
        </div>

        <!-- name of each tab group should be unique -->
        <div class="tabs tabs-border">
            <input type="radio" name="my_tabs_2" class="tab" aria-label="جاری" />
            <div class="tab-content border-base-300 bg-base-100 p-10">Tab content 1</div>
        
            <input type="radio" name="my_tabs_2" class="tab" aria-label="در حال پردازش" checked="checked" />
            <div class="tab-content border-base-300 bg-base-100 p-10">Tab content 2</div>
        
            <input type="radio" name="my_tabs_2" class="tab" aria-label="به اتمام رسیده" />
            <div class="tab-content border-base-300 bg-base-100 p-10">Tab content 3</div>

            <input type="radio" name="my_tabs_2" class="tab" aria-label="لغو شده" />
            <div class="tab-content border-base-300 bg-base-100 p-10">Tab content 3</div>
        </div>
    </div>
{% endblock content %}