{% extends "_base.html" %}
{% load static %}

{% block title %}
    حساب کاربری
{% endblock title %}

{% block content %}
    {% include 'accounts/modals/comment_form_modal.html' %}
    
    <div class="flex flex-row-reverse justify-evenly">
        <div class="bg-white max-w-2xl shadow overflow-hidden sm:rounded-lg m-8">
            <ul class="list bg-base-100 rounded-box shadow-md">
  
                <li class="p-4 pb-2 text-xs opacity-60 tracking-wide"></li>
                
                <li class="list-row">
                  <div><img class="size-10 rounded-box" src="#"/></div>
                  <div>
                    <div>some name</div>
                    <div class="text-xs uppercase font-semibold opacity-60"></div>
                  </div>
                </li>
                
              </ul>
        </div>
        <div class="bg-white max-w-2xl shadow overflow-hidden sm:rounded-lg m-8">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    حساب کاربری
                </h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    اطلاعات حساب کاربری
                </p>
            </div>
            <div class="border-t border-gray-200">
                <dl>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            نام و نام خانوادگی
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ user.first_name }} {{ user.last_name }}
                        </dd>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            شماره تماس
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            -
                        </dd>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            آدرس ایمیل
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ user.email }}
                        </dd>
                    </div>
                    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            نوع حساب
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {% if user.role == 'user' %}
                                عادی
                            {% endif %}
                        </dd>
                    </div>
                    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            نشانی
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ user.profile.province }}, {{ user.profile.city }}, {{ user.profile.address }}
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>

    <div class="m-8">
        <!-- name of each tab group should be unique -->
        {% if user.role == 'user' %}
            <div class="tabs tabs-border">
                <input type="radio" name="my_tabs_2" class="tab font-medium" aria-label="سفارشات" checked="checked" 
                    hx-get="{% url 'accounts:orders_list' %}"
                    hx-target="#orders_list_container"
                    hx-swap="innerHTML"
                    hx-trigger="load, click"
                />
                <div class="tab-content border-base-300 bg-base-100 p-10" id="orders_list_container"></div>
            
                <input type="radio" name="my_tabs_2" class="tab font-medium" aria-label="علاقه مندی‌ها" 
                    hx-get="{% url 'accounts:fav_list' %}"
                    hx-target="#favorites_list_container"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                />
                <div class="tab-content border-base-300 bg-base-100 p-10" id="favorites_list_container"></div>

                <input type="radio" name="my_tabs_2" class="tab font-medium" aria-label="نظرات" 
                    hx-get="{% url 'accounts:comments_list' %}"
                    hx-target="#comments_list_container"
                    hx-swap="innerHTML"
                    hx-trigger="click delay:500"
                />
                <div class="tab-content border-base-300 bg-base-100 p-10" id="comments_list_container">
                    <button class="btn btn-outline btn-info btn-xs"
                        hx-get="{% url 'accounts:comments_list' %}"
                        hx-target="#comments_list_container"
                        hx-trigger="click delay:500"
                        hx-indicator="#comment_spinner"
                    >
                        بروزرسانی
                    </button>
                    نظری ثبت نشده است.
                    <span id="comment_spinner" class="loading loading-bars loading-md htmx-indicator"></span>
                </div>
            
                <input type="radio" name="my_tabs_2" class="tab font-medium" aria-label="آدرس ها" />
                <div class="tab-content border-base-300 bg-base-100 p-10" id="addresses_container">
                    <ul class="list bg-base-100 rounded-box shadow-md">
    
                        <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">آدرس فعلی</li>
                        
                        <li class="list-row">
                        <div><img class="size-10 rounded-box" src="{% static 'img/map.png' %}"/></div>
                        <div>
                            <div class="m-2">
                                استان: {{ user.profile.province }}
                            </div>
                            <div class="m-2">
                                شهر: {{ user.profile.city }}
                            </div>
                            <div class="text-xs uppercase font-semibold opacity-60">
                                نشانی: {{ user.profile.address }}
                            </div>
                            <div class="m-2">
                                کدپستی: {{ user.profile.postal_code }}
                            </div>
                        </div>
                        <a class="btn btn-square btn-ghost" href="{% url 'accounts:add_address' user.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                            </svg>                           
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}