{% extends "_base.html" %}
{% load widget_tweaks %}

{% block content %}
    <h4 class="underline decoration-sky-500">
        ثبت نام
    </h4>
    <div class="flex flex-col items-center">
        <form class="m-4">
                <div class="m-4">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ایمیل:</label>
                    {% render_field form.email class+="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="alikarimi51@gmail.com" %}
                </div>
                <div class="m-4">
                    <label for="password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">رمزعبور:</label>
                    {% render_field form.password1 class+="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••••••" %}
                </div>
                <div class="m-4">
                    <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">تکرار رمزعبور:</label>
                    {% render_field form.password2 class+="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••••••" %}
                </div>
                <div class="m-4">
                    <button 
                        type="button" 
                        class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                        ثبت نام
                    </button>
                </div>
        </form>
    </div>
{% endblock content %}