<button class="btn btn-outline btn-info btn-xs"
  hx-get="{% url 'accounts:comments_list' %}"
  hx-target="#comments_list_container"
  hx-swap="innerHTML"
  hx-trigger="click"
  >
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
  </svg>  
  بروزرسانی
</button>
{% for item in comments %}
<div id="list_item">
  <ul class="list bg-base-100 rounded-box shadow-md m-2 p-2 max-w-xs max-h-xs">
    <li class="card card-compact bg-base-200 shadow">
      <div class="card-body">
        <div class="flex justify-between">
          <div>
            <h2 class="card-title">{{ item.title }}</h2>
            <p>{{ item.body }}</p>
            <div>
              مربوط به: {{ item.book.title }}
              <a class="link link-info" href="{% url 'shop:item_detail' item.book.pk %}">link</a>
            </div>
          </div>
          <div class="flex flex-col">
            <button
              onclick="edit_comment_modal.showModal();"
              hx-get="{% url 'accounts:load_comment_form' item.id %}"
              hx-target="#response_holder"
              hx-swap="innerHTML"
              hx-trigger="click"
            >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/>
              </svg>
            </button>
            <div>
            {% if item.status == 'Approved' %}
                <h6>تایید شده</h6>
            {% elif item.status == 'Rejected' %}
                <h6 class="text-red-700">رد شده</h6>
            {% else %}
                <h6 class="text-red-700">در انتظار تایید</h6>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endfor %}


{% block script %}
    <script>
        function clean_comment_form() {
            document.getElementById('comment_form').reset();
            edit_comment_modal.close();
        }
    </script>
{% endblock script %}