{% load static %}
{% load widget_tweaks %}
{% load partials %}

<div class="bg-white rounded shadow">
  <table class="table table-sm">
    <thead class="text-xs uppercase">
      <tr class="text-gray-900 text-center">
        <th>#</th>
        <th>شناسه</th>
        <th>عنوان</th>
        <th>نویسنده</th>
        <th>انتشارات</th>
        <th>ژانر</th>
        <th>زبان</th>
        <th>زبان اصلی</th>
        <th>چاپ</th>
        <th>تعداد صفحه</th>
        <th>تاریخ انتشار</th>
        <th>فرمت چاپ</th>
        <th>ISBN</th>
        <th>مترجم</th>
        <th>امتیاز</th>
        <th>موجود</th>
        <th>قیمت</th>
        <th>تعداد موجودی</th>
        <th>عملیات</th>
      </tr>
    </thead>
    <tbody>
      {% partialdef inline-partial inline %}
        {% if page_obj %}
          {% for book in page_obj %}
          <tr class="text-center">
            <th>{{ forloop.counter }}</th>
            <th>{{ book.pk }}</th>
            <td>
              <a href="{% url 'shop:book-details' book.id %}">
                {{ book.title }}
              </a>
            </td>
            <td>
              {% for i in book.authors.all %} 
                {% if i.fa_name %} 
                  [{{ i.fa_name }}] 
                {% else %} [{{ i.en_name }}] 
              {% endif %} {% endfor %}
            </td>
            <td>{{ book.publisher }}</td>
            <td>
              {% for i in book.genres.all %} 
                [{{ i.title }}] 
              {% endfor %}
            </td>
            <td>{{ book.language }}</td>
            <td>{{ book.original_language }}</td>
            <td>
              {% if book.edition %} 
                {{ book.edition }} 
              {% else %} 
                یافت نشد 
              {% endif %}
            </td>
            <td>{{ book.page_count }}</td>
            <td>{{ book.pub_date }}</td>
            <td>{{ book.format }}</td>
            <td>
              {% if book.ISBN %} 
                {{ book.ISBN }} 
              {% else %} 
                یافت نشد 
              {% endif %}
            </td>
            <td>
              {% for i in book.translator.all %} 
                {% if i %} 
                  {{ i.name }} 
                {% else %} 
                  -
                {% endif %}
              {% empty %} 
                -
              {% endfor %}
            </td>
            <td>
              {% if book.rating %} 
                {{ book.rating }} 
              {% else %} 
                -
              {% endif %}
            </td>
            <td>
              {% if book.available %}
                <span>&#10003;</span>
              {% else %}
                <span>&#10007;</span>
              {% endif %}
            </td>
            <td>
              {% if book.available %} 
                {{ book.price|floatformat:"0g" }} &nbsp تومان 
              {% else %} 
                  {{ book.price }} (آخرین قیمت)
              {% endif %}
            </td>
            <td>
              {% if book.available %} 
                {{ book.copies_available }} 
              {% endif %}
            </td>
            <td>
              <div class="flex items-center justify-center space-x-4">
                <a href="{% url 'shop:edit_book' pk=book.pk %}" class="btn btn-info btn-outline btn-xs">
                  ویرایش
                </a>
                <form
                  id="delete_form"
                  hx-delete="{% url 'shop:delete-book' book.id %}"
                  hx-target="#books_list_container"
                  hx-on="htmx:responseError: if(event.detail.xhr.status === 404) { alert('آیتم پیدا نشد یا قبلا حذف شده.'); }"
                  hx-confirm="آیا مطمئنید؟">
                    {% csrf_token %}
                  <button class="btn btn-error btn-outline btn-xs">حذف</button>
                </form>
              </div>
            </td>
          </tr>
          {% endfor %}
        {% endif %}
      {% endpartialdef %}
    </tbody>
    <tfoot>
      <tr>
        <td>تعداد کل: {{ page_obj|length }}</td>
      </tr>
    </tfoot>
  </table>
</div>

  <div class="flex justify-center m-8">
    <span class="step-links">
        <a
            class="btn btn-outline btn-info btn-xs"
            hx-get="{% url 'shop:get_books' %}?page=1"
            hx-target="#books_list_container"
            hx-swap="innerHTML"
            hx-trigger="click"
            hx-include="#filterForm"
          >
          صفحه اول
        </a>
        <span class="current">
            صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a
              class="btn btn-outline btn-info btn-xs"
              hx-get="{% url 'shop:get_books' %}?page={{ page_obj.next_page_number }}"
              hx-target="#books_list_container"
              hx-swap="innerHTML"
              hx-trigger="click"
              hx-include="#filterForm"
            >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061A1.125 1.125 0 0 1 3 16.811V8.69ZM12.75 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061a1.125 1.125 0 0 1-1.683-.977V8.69Z" />
            </svg>            
            صفحه بعد
            </a>
          {% elif page_obj.has_previous %}
            <a
                class="btn btn-outline btn-info btn-xs"
                hx-get="{% url 'shop:get_books' %}?page={{ page_obj.previous_page_number }}"
                hx-target="#books_list_container"
                hx-swap="innerHTML"
                hx-trigger="click"
                hx-include="#filterForm"
              >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061A1.125 1.125 0 0 1 21 8.689v8.122ZM11.25 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061a1.125 1.125 0 0 1 1.683.977v8.122Z" />
              </svg>
              صفحه قبل
            </a>
        {% endif %}
        <a
            class="btn btn-outline btn-info btn-xs"
            hx-get="{% url 'shop:get_books' %}?page={{ page_obj.paginator.num_pages }}"
            hx-target="#books_list_container"
            hx-swap="innerHTML"
            hx-trigger="click"
            hx-include="#filterForm"
          >
          صفحه آخر
        </a>
    </span>
  </div>


<script>
  $('#id_genres').select2();
</script>