{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock head %}
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'dist/output.css' %}">
    <link href="{% static 'css/daisyui@5.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    <nav class="flex flex-row-reverse justify-between items-center p-4 bg-gray-800 text-white">
        <div class="logo rtl:text-right"></div>
        <ul class="flex space-x-4 space-x-reverse">
          <li class="rtl:pr-4"><a href="{% url 'shop:books-list' %}">لیست</a></li>
          <li class="rtl:pr-4"><a href="{% url 'home:index' %}">حساب</a></li>
        </ul>
    </nav>
    <div class="m-12">
        <div id="navbar">
            {% if user.is_authenticated %}
                <p>کاربر فعلی {{ user.email }}</p>
            {% endif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    {% block script %}
    {% endblock script %}
</body>
</html>