{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock head %}
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'dist/output.css' %}">
    <link href="{% static 'css/daisyui@5.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
  <nav class="flex flex-row justify-between items-center px-4 py-2 bg-gray-800 text-white">
      <div>
        <!-- right -->
        <ul class="flex space-x-4">
          <li><a href="{% url 'home:index' %}" class="btn btn-ghost text-white hover:text-black-400">خانه</a></li>
          <li><a href="{% url 'shop:customers_browse' %}" class="btn btn-ghost text-white hover:text-black-400">فروشگاه</a></li>
        </ul>
      </div>
      <div>
        <!-- left -->
        <ul class="flex space-x-4 items-center">
          <li>
            {% if user.role == "admin" %}
              <a href="{% url 'admin:index' %}">Panel</a>
            {% elif user.role == 'user' %}
            <a class="btn btn-sm" href="{% url 'shop:cart_detail' %}">
              سبد
              <div 
                  class="badge badge-sm"
                  hx-get="{% url 'shop:cart_count' %}"
                  hx-trigger="load"
                  hx-target="this"
                  hx-swap="innerHTML"
                >
              </div>
            </a>
            {% else %}
              <a class="btn btn-ghost text-white hover:text-black-400" href="{% url 'accounts:login' %}">ورود</a>
            {% endif %}
          </li>
          <li><a href="{% url 'accounts:profile' %}" class="btn btn-ghost text-white hover:text-black-400">حساب کاربری</a></li>
        </ul>
      </div>
  </nav>
    <div class="m-12">
        <div id="navbar">
            {% if user.is_authenticated %}
                <p>کاربر فعلی {{ user.email }}</p>
            {% endif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    {% block script %}
    {% endblock script %}
</body>
</html>