{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock head %}
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'dist/output.css' %}">
    <link href="{% static 'css/daisyui@5.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/select2.min.js' %}"></script>
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}' class="bg-gray-50">
  
    {% include "partials/navbar.html" %}

    <div class="m-12 flex flex-col min-h-screen">
        <div id="navbar">
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <div role="alert" class="alert alert-{{ message.tags }}">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                  </svg>
                  <span>{{ message }}</span>
                </div>
              {% endfor %}
            </ul>
            {% endif %}
        </div>

        <main class="flex-grow">
          {% block content %}
          {% endblock content %}

          <div dir="ltr">
            {% block toast %}
            {% endblock toast %}
          </div>
        </main>
        
     </div>
     {% include "partials/footer.html" %}
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    {% block script %}
    {% endblock script %}
</body>
</html>